
.container-body {
    border: 1px solid #bec2c8;
    border-radius: 2px;
    width: 90%;
    margin-left: 15px;
    padding-bottom: 8px;
    margin-top: -10px;
}

.body {
    border-radius: 2px;
    width:100%;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 5px;
    
}

.cont-inputs {
    float: left;
    margin-top: 5px;
}

.title {
    border-bottom: 1px solid #bec2c8;
    width: 90%;
    margin-bottom: 20px;
    height: 25px;
    font-size: 22px;
}

.input {
    margin-bottom: 9px;
}

.container-inputs {
    width: 98%;
    margin-left: 50px;
   
}

.textArea {
    float:left;
    margin:5px;
    
}

ul {
    width: 90%;
    margin: auto;
    padding: 8px;
}

input {
    border-radius: 2px;
    border: 1px solid #BBBFC1;
    height: 27px;
}
label {
    margin: 3px;
    display:inline-block;
    padding:4px;
}

body {
    /*font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif black;*/
    font-weight: normal;
    font-style: normal;
    position: relative;
    cursor: auto;
    color:#222222;
}

select {
    height: 27px;
    border-radius: 2px;
}



.tabla-contenedor {
    margin-left: -18px;
    padding-left: 2px;
}
/*************BOTONES**************/
button.submit{
    background-color: #2ABCEC;
    border: 1px #2ABCEC;
    border-bottom: 1px #2ABCEC;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #2ABCEC);
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #2ABCEC;
}

#forma{
    margin: 145px 0px 0px 75%;
  
    
}
#buscar{
    height: 30px;
    margin-left: 400%;
}
#guardar{
    height: 30px;
    margin:8px 0px 0px 100%;
}
#guardars{
     opacity: 1;
    width: 150px;
    height: 35px;
    position: inherit;
    margin-left:5%;
    margin-top: 75px;
    background-color: #A1132A;
    border: 2px #A1132A;
    border-bottom: 1px #A1132A;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #A1132A;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #A1132A;
}
/**********************************/
#form {
    height: 190px;
    margin-bottom: 10px;
    width: 20px;
}

table {
    width: 100%; 
}
h5 {
    width: 90px;
    
}

#formA {
    height: 100px;
    margin-bottom: 10px;
}

h1 {
    font-family: arial black;
}
/*************Tabla de consumos**************/
#consumo td {
    border-bottom: 1px solid #BBBFC1;
    border-right: 3px solid white;
}
#consumo td input{
    margin: 8px;
    width: 18px;
    height: 18px;
}
#consumo th{
    background-color: #04557A;
    height: 25px;
    color:white;
    padding-top: 3px;
    
}

#select {
    width: 500px;
    margin-bottom: 2px;
    margin-left: 10px;
}
#consumo{
    width: 70%;
    margin: 8px auto;
}


#formT {
    height: 250px;
    
}
/***************Tbala de enfermedades familiares***********/
#tabla-enfer{
    width: 80%;
    margin-left: 54px;
}
#tabla-enfer tr{
    border-bottom: 1px solid #BBBFC1;
    padding-bottom: 3px;
}
#tabla-enfer tr th{
    height: 25px;
    padding-top: 5px;
    color: white;
    background-color: #04557A;
}
#tabla-enfer input{
    width: 350px;
}
#titulo {
    width: 600px;
    margin: 0px auto;
    
}

.encabezado {
    width: 80%;
    margin: 0px auto;
}



#formAm {
    height: 250px;
}

#t {
    padding-left: 10px;
}

#bienes-serv {
    margin-top: 15px;
}



.otro {
    margin: 5px;
} 



#e {
    padding-right: 30px;
}

/***************Tabla recreación y tiempo libre*****/
#tabla-tiempo {
    width: 900px;
    margin: 15px auto;
    
}



#text {
    margin-left: 60px;
    margin-top: 10px;
}

.Div-Boxp {
    width: 90%;
    height: 70px;
    margin: 1px auto;
    
}




#formTi {
    height: 800px;
}

.tabla-inter {
    margin: 5px auto;
    width: 900px;
}
#formif {
    height: 80px;
}

#formAlum {
    height: 170px;
}

input {
    margin-bottom: 9px;
    margin-top: 10px;
}
