.titulo{
    color: #105FA1;
    font-size: 23px;
    font-family: arial black;
    margin-top: 100px;
    margin-left: 100px;
}
#mover{
    margin-left: 60px;
}
.subtitulo{
    position: absolute;
    margin-top: 5px;
    color: #505356;
    font-size: 15px;
    font-family: arial ;
    margin-left: 100px;
    text-decoration: none;
}

.botones{
    position: absolute;
    margin-top: 50px;
    right: 1040px;
}
#btn{
    position: absolute;
    margin-top: 50px;
    right: 900px;
}


#division{
    color:#C7C7C7 ;
}
#perfil{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 650px;
    margin-top: 10px;
}
#formulario{
    margin-top: 0px;
    margin-left: 130px;

}
#foto{
    background-color:#6F797A ;
    border: 1px solid #6F797A;
    border-bottom: 1px #6F797A);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #6F797A;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #6F797A;
    margin-left: 690px;
    position: absolute;
    margin-top: 205px;
}



/*****Cuestionario*****/

.cuestionario_form ul {
    width: 750px;
    list-style-type:none;
    list-style-position: outside;
    margin-top: 40px;
    padding: 0px:
}
.cuestionario_form li{
    padding: 6px;
    border-bottom: px solid #eee;
    margin-left:10px;
    color: #2274B8;
    font-family: arial black;
    font-size: 14px;
}
.cuestionario_form li h2:first-child{
    border-bottom:1px solid #D4D3D3;
    width: 1000px;
}
.cuestionario_form h4{
    margin: 10px;
    display: inline;
}
/*****Requerido******/
.required{
    position:static;
    float: right;
    font-size: 12px;
    color:#d45252; 
}
.cuestionario_form label {
    width:380px;
    margin-top: 3px;
    display:inline-block;
    padding:3px;
}

.cuestionario_form input {
    height:auto; 
    width:auto; 
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #BBBFC1;
    padding:5px 8px;
}
.cuestionario_form button {margin-left:350px;}

/*******Button*******/
button.submit{
    background-color: #2ABCEC;
    border: 1px #2ABCEC;
    border-bottom: 1px #2ABCEC;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #2ABCEC);
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #2ABCEC;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active{
    border: 1px solid #2ABCEC;
    box-shadow: 0 0 10px 5px #2ABCEC inset; 
}