.main{
    border: 1px solid #bec2c8;
    border-radius: 2px;
}

.title {
    border-bottom: 1px solid #bec2c8;
    width: 90%;
    margin-bottom: 20px;
    height: 25px;
    font-size: 22px;
    margin-top: 25px;
    margin-left: 50px;

}
Div-Box {
    width: 90%;
    border-top: 1px solid #bec2c8;
    height: 70px;
    margin: 1px auto;
}

.box {
    float: left;
    margin: 2px;
    width: 100%;
}
#box{
    margin-left: 54px;
}
#fam{
    width: 90%;
    margin-left: 15px;
    padding-bottom: 8px;
    margin-top: 5px;
    height: 700px;
}
#socio{
    width: 90%;
    margin-left: 15px;
    padding-bottom: 8px;
    margin-top: 5px;
    height: 1000px;
}
#enfer{
    width: 90%;
    margin-left: 15px;
    padding-bottom: 8px;
    margin-top: 5px;
    height: 750px;
}
#salud{
    width: 90%;
    margin-left: 15px;
    padding-bottom: 8px;
    margin-top: 5px;
    height: 650px;
}

#datos_padres, box{
    margin-left: 54px;
}

.tableuser {
	width:20px;
	border:1px solid #ffffff;
    margin-top: 18px;
    margin-left: 54px;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tableuser table{
    border-collapse: collapse;
    border-spacing: 0;
	width:20%;
}.tableuser tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tableuser table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tableuser table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tableuser tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tableuser tr:hover td{
	background-color:#ffffff;
		

}
.tableuser td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:2px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tableuser tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tableuser tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tableuser tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tableuser td input{
    width: 130px;
}
.tableuser tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,e5e4e3);

	background-color:#ffffff;
	border:0px solid #ffffff;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Times New Roman;
	font-weight:bold;
	color:#050404;
}
.tableuser tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,e5e4e3);

	background-color:#ffffff;
}
.tableuser tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tableuser tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}